 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  min-width: 1020px;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  background-color: #fff;
}

main {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;

}
.header {
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 1000px;
  background-color: #f5f5f5;
  border-bottom: 2px solid #e5e5e5;
  }
.search-bar {
  position: relative;
  display: inline-block;

  input {
    @include box-sizing(border-box);
    display: block;
    height: 28px;
  }

  div.search-and-submit {
    position: relative;

    input[type=search] {
      @include appearance(none);
      width: 100%;
      padding: .5em .8em;
      font-size: 12px;
      font-style: italic;
      border-radius: $base-border-radius;
      margin-left: 3px;
      margin-right: 120px;
    }

    }
  }
.mega-octicon {
  margin-left: 165px;
  margin-top: -5px;
  font-size: 20px;
}
.header-link {
  padding: 4px 8px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: rgb(51, 51, 51);
  .header-link-helpLink {
    color: #4183c4;

  }
}
.leftsidebar {

  padding-right: 20px;
  padding-top: 20px;
  float: left;
  width: 25%;
  .avatar {
    width: 230px;
    border-radius: 15px;

  }
  .name {
    font-size: 24px;
    font-weight: bold;
  }
  .login {
    font-size: 20px;
    color: #666;
  }
}
.user-links {
    color: #4183c4;
    border-top: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    .octicon {
      font-size: 14px;
      color: gray;
    }
}
.user-numbers {
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #4183c4;
}
.organs {
  margin-right: 35px;
}
.organiz {
  height: 42px;
  width: 42px;
  margin-right:100px;

}

#right-side {
  float: left;
  width: 75%;
}

.upper-nav {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  .minibutton {
    float:right;
  }
  li {
    display: inline-block;
    padding: 8px 12px 7px;
    .octicon {
      font-size: 14px;
      color: gray;
    }
  }
  .selected-tab {
    border: 1px solid #eee;
    border-bottom: 0;
  }
}
.minibutton {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  user-select: none;
}
.filter-bar {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 10px;
  .minibutton-green {
    float:right;
  }
  li {
    color: #4183c4;
    font-size: 14px;
    display: inline-block;
    padding: 8px 12px 7px;
  }
  .text {
    font-weight: bold;
    color: black;
  }
}
.minibutton-green{
  color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #60b044;
border-radius: 3px;
border: 1px solid #d5d5d5;
background-image: linear-gradient(#8add6d, #60b044);
background-repeat: repeat-x;
padding: 7px 12px;
}


.repo-block {
  width: 100%;
  float: right;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  .repo-elements {
    float: right;
    color: #888;
    }
  .repo-name {
    color: #4183c4;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 8px;

  }
}
