 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  min-width: 1020px;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  background-color: #fff;
}

main {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;

}
.header {
padding-top: 10px;
padding-bottom: 10px;
min-width: 1000px;
background-color: #f5f5f5;
border-bottom: 2px solid #e5e5e5;
}
.search-bar {
  position: relative;
  display: inline-block;

  input {
    @include box-sizing(border-box);
    display: block;
  }

  div.search-and-submit {
    position: relative;

    input[type=search] {
      @include appearance(none);
      width: 100%;
      padding: .5em .8em;
      font-size: .9em;
      font-style: italic;
      border-radius: $base-border-radius;
      margin-left: 3px;
      margin-right: 120px;
    }

    }
  }
.mega-octicon {
  margin-left: 165px;
}
.leftsidebar {

  padding-right: 20px;
  padding-top: 20px;
  float: left;
  width: 25%;
  .avatar {
    width: 230px;
    border-radius: 85px;

  }
  .name {
    font-size: 26px;

  }
  .login {
    font-size: 20px;
    color: #666;

  }
}
.user-links {
    color: #4183c4;
    border-top: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    .octicon {
      font-size: 14px;
      color: gray;
    }
}
.user-numbers {
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #4183c4;
}
.organs {
  margin-right: 35px;
}
.organiz {
  height: 42px;
  width: 42px;
  margin-right:100px;
  
}

.right-side {
  float: left;
  width: 75%;
}

.repo-block {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  .repo-elements {
    float: right;
    color: #888;
    }
  .repo-name {
    color: #4183c4;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 8px;

  }
}
